<div class="contenido">
  <h4 class="titulo2">Información financiera</h4>

  <form>
    <div class="form-group mt-4 mb-4">
      <label class="titulo1">Ocupación</label><br>
      <input type="radio" id="estudiante"  value="Estudiante">
      <label for="estudiante"> &nbsp;Estudiante</label><br>

      <input type="radio" id="empleado"  value="Empleado">
      <label for="empleado"> &nbsp;Empleado</label><br>

      <input type="radio" id="independiente"  value="Independiente">
      <label for="independiente"> &nbsp;Independiente</label><br>

      <input type="radio" id="pensionado"  value="Pensionado">
      <label for="pensionado"> &nbsp;Pensionado</label><br>

      <input type="radio" id="otro"  value="otro">
      <label for="otro"> &nbsp;Otro</label><br>
    </div>

    <div class="form-group mt-4 mb-4">
      <label class="titulo1">Nivel de educación</label>
      <select class="form-select"
              name="educacion">
      <option value="primaria">Primaria</option>
      <option value="secundaria">Secundaria</option>
      <option value="pregrado">Pregrado</option>
      <option value="postgrado">Postgrado</option>
      <option value="otro">Otro</option>
      </select>
    </div>

    <div class="form-group mt-4 mb-4">
      <label class="titulo1">Actividad laboral</label>
      <select class="form-select"
              name="actividadLaboral">
      <option value="construccion">Construcción</option>
      <option value="tecnologia">Tecnología</option>
      <option value="administracion">Administración</option>
      <option value="servicios">Servicios</option>
      <option value="otro">Otro</option>
      </select>
    </div>

    <div class="form-group mt-4 mb-4">
      <label class="titulo1">Ingresos promedio mensuales</label>
      <select class="form-select"
              name="promedio">
      <option value="menos de 1000000">Menos de 1'000.000</option>
      <option value="entre 2000001 y 3000000">Entre 2'000.001 y 3'000.000</option>
      <option value="superior de 3000000">Mayor de 3'000.000</option>
      </select>
    </div>

    <div class="form-group mt-4 mb-4">
      <label class="titulo1">Gastos promedio mensuales</label>
      <select class="form-select"
              name="promedio">
      <option value="menos de 1000000">Menos de 1'000.000</option>
      <option value="entre 1500000 y 2000000">Entre 1'500.000 y 2'000.000</option>
      <option value="superior de 2000000">Mayor de 2'000.000</option>
      </select>
    </div>

    <button class="btn btn-primary">
      Editar
    </button>
  </form>

</div>
