.contenido{
  padding: 3%;
}

.inputDisabled{
  border: none;
  text-align: left;
  font: normal normal normal 14px/9px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.btn-genero{
  width: 50%;
}

:host ::ng-deep .iti {
  width: 100%;
}

